/* ---------MOBILE max.width 500px--------- */

.offers-image--1,
.last-minute-image--1 {
    background-image: url("podklady/palmy.jpg");
    background-position: center;
    background-size: cover;
    aspect-ratio: 2 / 1;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border-top-left-radius: 4px;
}

.offers__h2,
.last-minute-offer__h2 {
    color: #fff;
    background-color: #F03000;
    position: absolute;
    left: 1em;
    padding: 0.2em 0.5em;
}

.offers__heading--bigger,
.last-minute-offer__heading--bigger {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 40px;
}

.offers__p--bigger,
.last-minute-offer__p--bigger {
    position: absolute;
    bottom: 0.3rem;
    left: 1rem;
    color: #fff;
    font-size: 0.9em;
}

.offers-image--2 {
    background-image: url("podklady/jezero.jpg");
    margin-bottom: 20px;
}

.offers-image--3 {
    background-image: url("podklady/nakole.jpg");
    margin-bottom: 40px; 
}

.offers-image--2,
.offers-image--3,
.last-minute-image--2,
.last-minute-image--3 {
    background-position: center;   
    background-size: cover;
    aspect-ratio: 3 / 1;
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 500px;
}

.offers__heading,
.last-minute-offer__heading {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.6em;
}

/* ---------Tablet max.width 900px--------- */
@media (min-width: 501px) {   

    .offers__block,
    .last-minute__block {
        display: flex;
        flex-direction: line;
        width: 100%;
        margin-bottom: 20px;
        gap: 20px;
    }
    .offers-image--2,
    .offers-image--3,
    .last-minute-image--2,
    .last-minute-image--3 {
        width: 50%;
        aspect-ratio: 2 / 1;
    }
    .offers-image--2,
    .offers-image--3,
    .last-minute-image--2,
    .last-minute-image--3 {
        margin: 0;
    }
    .last-minute-offer__heading,
    .offers__heading {
        font-size: 1em;
    }
    .offers__heading--bigger,
    .last-minute-offer__heading--bigger {
    font-size: 2em;
    }

    .offers__p--bigger,
    .last-minute-offer__p--bigger {
    font-size: 1.3em;
    }
}

/* ---------DESKTOP min.width 901px--------- */

@media (min-width: 901px) {

    .offers-image,
    .last-minute-offer-image {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
    .offers-image--1,
    .last-minute-image--1 {
        margin-bottom: 0;
        border-top-left-radius: 0px;
    }
    .offers__block,
    .last-minute__block {
        display: grid;
        grid-template-rows: 2;
        grid-template-rows: auto;
        width: 100%;
        margin-bottom: 20px;
        gap: 20px;
    }
    .offers-image--2,
    .offers-image--3,
    .last-minute-image--2,
    .last-minute-image--3 {
        width: 100%;
        aspect-ratio: 2 / 1;
    }
    .last-minute-offer__heading,
    .offers__heading {
        font-size: 1.2em;
    }
    .offers__heading--bigger,
    .last-minute-offer__heading--bigger {
    font-size: 2.2em;
    }

    .offers__p--bigger,
    .last-minute-offer__p--bigger {
    font-size: 1.3em;
    }
}